@namespace WebApp.Client.Components
@inherits _InputDoubleFormattedBase

<input @attributes="AdditionalAttributes" class="form-control @(IsValidInput ? "" : "is-invalid")" value="@CurrentValueAsString" @oninput="OnInput" />

@if (!IsValidInput)
{
    <div class="col-md-8 validation-message custom-validation-message">
        Valor introducido no v·lido
    </div>
}