@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime jsRuntime;


<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <CascadingValue Value="theme">
            <CascadingValue Value="userName">
                <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
            </CascadingValue>
        </CascadingValue>

        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p>¡Página no encontrada!</p>
        </LayoutView>
    </NotFound>
</Router>

@code{


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("deleteElementById", "loadingdiv");
        }
    }


    private AntiaTheme theme = new AntiaTheme();
    private string userName = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            userName = user.Identity.Name;
        }
        else
        {
            userName = "Anónimo";
        }
    }
}
