<div>
    <br />
    Texto dentro del DIV (RED)
    <br />
    <_InputTextTriggerBindingOnInput @bind-Value="text" class="form-control col-sm-4"></_InputTextTriggerBindingOnInput>
</div>
@code {

    public string text = "Input en _CSSsample (BLUE)";  
}
