@typeparam TItem
@HeaderFragment 

@foreach (var item in Items)
{
    <div @key="item">

        @LineFragment(item)

    </div>
}

@code {


    [Parameter]
    public List<TItem> Items { get; set; }

    [Parameter]
    public RenderFragment HeaderFragment { get; set; }

    [Parameter]
    public RenderFragment<TItem> LineFragment { get; set; }


}
