@attribute [Authorize]
@inherits AntiaComponentBase
@page "/cssPage"

<_PageTitle Title="CSS" BreadcrumbMenuGroupName="Template" BreadcrumbMenuOptionName="Css"></_PageTitle>

<div>
    Texto en div superior (GREEN)
</div>

<_CSSsample></_CSSsample>


@code {


}
